{#
/**
 * @file
 * Default theme implementation to display something.
 *
 * Available variables:
 * - foo: Foo variable description.
 *
 * @ingroup themeable
 */
#}
<div class="wrapper-class">
  <b>{{ "#{object.firstName} #{object.lastName}" }}</b>
  <br>
  Job: {{ object.jobTitle }}
  <br>
  Country: {{ object.country }}
  <br>
  State: {{ object.state }}
  <br>
  City: {{ object.city }}
  <br>
  Adress Line 1: {{ object.addressLine1 }}
  <br>
  Adress Line 2: {{ object.addressLine2 }}
</div>
